a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  max-width: 550px;
  margin: 15px;
  padding: 15px;
  justify-content: center;
  text-align: center;
  border: 1px solid #eaeaea;
  border-radius: 50px;
}

.pokemon-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.pokemon-card:hover img {
  animation: hithere 1.2s ease none;
}

@keyframes hithere {
30% { transform: scale(1.1); }
40%, 60% { transform: rotate(-20deg) scale(1.1); }
50% { transform: rotate(20deg) scale(1.1); }
70% { transform: rotate(0deg) scale(1.1); }
100% { transform: scale(1); }
}

.pokemon-card-type {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pokemon-card span:first-child  {
  margin-right: 1rem;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #d4d4d4;
  color: #161616;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
